<h3>To Do</h3>
<hr />

<mat-card>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-control-full-width">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="date" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="form-control-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea
        matInput
        placeholder="Ex. It makes me feel..."
        [formControl]="comments"
      ></textarea>
      <mat-error *ngIf="comments.hasError('required')">
        Comment is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="comments.hasError('my-custom-error')">
        <strong>Name error</strong>
      </mat-error>
      <mat-error *ngIf="comments.hasError('minlength')">
        Minlength is <strong>10</strong>
      </mat-error>
      <mat-error *ngIf="comments.hasError('maxlength')">
        Maxlength is <strong>50</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</mat-card>
