<h3>Product Page</h3>
<hr />

<mat-card>
  <form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="form-control-full-width">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Type a product name..."
        [formControl]="name"
      />
      <mat-error *ngIf="name.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control-full-width">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="category">
        <mat-option value="">Please Select</mat-option>
        <mat-option [value]="c" *ngFor="let c of categories">{{
          c
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="category.hasError('required')">
        <strong>Required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control-full-width">
      <mat-label>Price</mat-label>
      <input matInput [formControl]="price" />
      <mat-error *ngIf="price.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="price.hasError('pattern')">
        <strong>Not a valid price</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-control-full-width">
      <mat-label>Tax Rate</mat-label>
      <input matInput [formControl]="taxRate" />
      <mat-error *ngIf="taxRate.hasError('required')">
        <strong>Required</strong>
      </mat-error>
      <mat-error *ngIf="taxRate.hasError('pattern')">
        <strong>Not a valid tax rate</strong>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>
</mat-card>
